/* Style the scrollbar track */
::-webkit-scrollbar {
    width: 6px; /* Width of the vertical scrollbar */
    height: 6px; /* Height of the horizontal scrollbar */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: rgba(113, 113, 113, 0.5); /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
    background: rgba(113, 113, 113, 0.1); /* Color of the scrollbar track */
    border-radius: 6px; /* Rounded corners */
}

.p-tabview-panels {
    flex: 1;
    background-color: #121212;
    overflow: auto;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link, .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    background-color: #121212;
}

.elem-ok {
    color: green;
}

.elem-none {
    color: red;
}

.elem-present {
    color: grey;
}

table {
    border-spacing: 0;
}

tr.row-even {
    background-color: #c7d0ff05;
}

.p-inputnumber-input {
    width: 2rem;
    padding: 0.3rem;
    pointer-events:none;
    text-align: right;
}

.p-inputnumber-button {
    padding: 0.3rem;
    width: 1.5rem;
    background-color: #ffc83a73;
    border: none;
}

.lettersContainer {
    display: flex; 
    gap: 0.5rem;
    background-color: #1e23cd26;
}

.letterBox {
    border: thin #7c96d1 solid;
    padding: 0.25rem;
    width: 1.25rem;
    height: 1.25rem;
    background-color: #c7d0ff05;
}